@import url('https://fonts.googleapis.com/css?family=Audiowide|Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.App {
  text-align: center;
  background: #ddd;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  background-color: rgba(33, 37, 41, 0.72);
  margin-bottom: 30px;
  font-family: 'Audiowide', cursive;

}
.navbar img.logo {
  width: 48px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: -webkit-xxx-large;
}

.navbar .navbar-brand > span {
  color: #007bff;
}

.container {
  font-family: 'Muli', sans-serif;
}

.form-inline .form-control {
  border: none;
  border-radius: 2px;
  background-color: rgba(33, 37, 41, 0.72);
}

body {
  background-image: url('./resources/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: #595c5f6b;
}

.imgPreview{
  overflow: auto;
}

@media screen and (max-width: 868px) {
  .navbar-nav li{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-collapse form>input{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}